.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Center the modal */
    width: 2400px;
    height: 1600px;
    background-color: rgb(217, 217, 217, 0.8); /* Fallback color */
    /* border-radius: 15px; Optional: for rounded corners */
    padding-top: 40px; /* Space for the close button */
}

.modal-content {
    position: relative;
    overflow: auto;
    max-height: 90%; /* Adjust as needed */
    padding: 10px;
    color: #ffffff;
    font-size: 2rem;
}

.close-button {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
