html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .settings-icon {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    font-size: 2em; 
    cursor: pointer;
    color: #e0e0e0;
  }

  .settings-icon:hover {
    color: #c2c2c2;
  }

  #video {
    position: fixed; /* Use fixed position to ensure it covers the entire screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the aspect ratio is maintained while covering the full screen */
    z-index: -1; /* Ensure it stays in the background */
}

#explenation-text {
    font-family: Arial, sans-serif;
    width: 40%;
    margin-left: 40px;
    padding: 0;
    color: white;
    font-size: 3.5em;
    z-index: 1;
}

.button {
  font-size: 2em;
  cursor: pointer;
  background-color: rgb(217, 217, 217, 0.9);
  color: #ffffff;
  font-size: 1em;
  z-index: 1;
  border: 5px solid #ffffff;
  border-radius: 10px;
}

.input-field {
  height: 45px;
  font-size: 3.5rem;
  background-color: rgb(217, 217, 217, 0.9); /* Fallback color */
  border: none;
  color: #ffffff;
}
