<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Memory Spaces</title>
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

<div class="bubble-container">
  <div class="bubble" id="bubble1" onclick="bubbleClicked(1)"><span class="bubble-text">1</span></div>
  <div class="bubble" id="bubble2" onclick="bubbleClicked(2)"><span class="bubble-text">2</span></div>
  <div class="bubble" id="bubble3" onclick="bubbleClicked(3)"><span class="bubble-text">3</span></div>
</div>

<div class="settings-icon">
    <i class="fas fa-cog" onclick="openSettings()"></i>
</div>
<script src="/static/js/script.js"></script>
</body>
</html>