<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Memory Spaces</title>
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/modal.css">
<link rel="stylesheet" href="/static/css/bubbles.css">
<link rel="stylesheet" href="/static/css/settings.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>

</head>
<body>
  <script type="text/javascript">
    const endpoints = JSON.parse('{{ endpoints | safe }}');
    //deserialize enums
    const status_enum = JSON.parse('{{ status | safe }}');
    if (!status_enum) {
      console.error('Enums not found');
    }
    if (!endpoints) {
      console.error('Endpoints not found');
    }


  </script>

<video id="video" autoplay></video>
<script>
    const videoElement = document.getElementById('video');

    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: { aspectRatio: 16/9 } })
        .then(function(stream) {
            // Attach the video stream to the video element and autoplay.
            videoElement.srcObject = stream;
        })
        .catch(function(error) {
            console.error("Error accessing media devices.", error);
        });
    } else {
        alert('getUserMedia not supported on your browser!');
    }
</script>



<div class="bubble-container">
  <div class="bubble" id="bubble1"><span class="bubble-text">1</span><br><span class="bubble-sub-text">nothing</span></div>
  <div class="bubble" id="bubble2"><span class="bubble-text">2</span><br><span class="bubble-sub-text">nothing</span></div>
  <div class="bubble" id="bubble3"><span class="bubble-text">3</span><br><span class="bubble-sub-text">nothing</span></div>
</div>

<div class="settings-icon">
    <i class="fas fa-cog" id="settings"></i>
</div>

<div id="modal" class="modal">
    <span class="close-button" id="close-modal">&times;</span>
    <div class="modal-content" id="modal-content"></div>
  </div>

<script type="module" src='/static/js/modal.js'></script>
</script>
</body>
</html>